baseURL: ""
languageCode: 'en-us'
title: "Anecdote of Reppirkrad"
theme: "Papermod"

params:
  homeInfoParams:
    Title: "Hello Exile"
    Content: Welcome to my blog! This site will archives all of my information that gather for a years.


  cover:
    linkFullImages: true

  ShowBreadCrumbs: true

menu:
  main:
    - identifier: categories
      name: Categories
      url: /categories/
      weight: 10

    - identifier: tags
      name: Tags
      url: /tags/
      weight: 20

    - identifier: archives
      name: Archives
      url: /archives/
      weight: 30
      
module:
  imports:
    - path: github.com/adityatelange/hugo-PaperMod
      
